@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    background-color: rgb(36, 13, 13);
    color: azure;
    /* position: fixed; */
    /* z-index: 999; */
}

.logo img {
    height: 50px;
    width: 225px;
}

.nav--content {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(36, 13, 13);
    color: azure;
    font-size: larger;
}

.nav--element a {
    text-decoration: none;
    color: white;
}

.nav--element a:hover {
    color: #29d9d5;
}

.nav--btn {
    margin-right: 4vw;
    background-color: rgb(36, 13, 13);
    color: cyan;
    border: 2px solid cyan;
    height: 50%;
    border-radius: 20px;
    width: 100px;
}

.nav--btn a {
    text-decoration: none;
    color: white;
}

.nav--btn a:hover {
    color: #29d9d5;
}

.main--container {
    height: 100vh;
    width: 100vw;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main--header {
    height: 10vh;
    width: 85%;
    background-color: rgb(226, 196, 196);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 20px;
}

.main--content {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

img {
    height: 250px;
    width: 300px;
    border-radius: 20px;
}

img:hover {
    transition: 0.5s;
    filter: grayscale();
}

.sectionTwo {
    width: 100vw;
    height: 40vh;
    position: relative;
}

.footer--img {
    height: 100%;
    border-radius: 0;
    width: 100%;
    opacity: 0.9;
}

.footer--img:hover {
    filter: none;
}

.sec2--container {
    color: white;
    font-size: larger;
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 40%;
    top: 10%;
}

.sec2--container button {
    margin-right: 4vw;
    background-color: rgb(36, 13, 13);
    color: cyan;
    border: 2px solid cyan;
    height: 40px;
    border-radius: 20px;
    width: 100px;
}

.footersec {
    height: 40vh;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding-top: 20px;
}

.footersec h1 {
    text-align: center;
}

.footersec span {
    color: rgba(255, 253, 253, 0.856);
}

.photography {}

.photography h1 {
    margin-bottom: 10px;
}

.newsletter input {
    width: 150px;
    background-color: black;
    color: white;
    border: 2px solid cyan;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 10px;
    height: 40px;
}

.newsletter button {
    margin-right: 4vw;
    background-color: rgb(36, 13, 13);
    color: cyan;
    border: 2px solid cyan;
    height: 40px;
    border-radius: 20px;
    width: 100px;
}
